{
    "name": "Artificial Intelligence Bot",
    "filename": "Artificial Intelligence Bot.rar",
    "languages": "Java",
    "time": "18 Oct. 2022",
    "image": "https://1000logos.net/wp-content/uploads/2020/09/Java-Logo.png",
    "features": "AI, TTS, STT, Built-in commands, sends messages to WhatsApp"
}